@model ProjectFinderApp.Models.Project

@{


    ViewBag.Title = Model.ProjectTitle;
    var comments = (IEnumerable<ProjectFinderApp.Models.Comments>)ViewBag.Comments;
    var ratingSum = ViewBag.RatingSum;
    var ratingCount = ViewBag.RatingCount;

    decimal rating = 0;
    if (ratingCount > 0)
    {
        rating = (ratingSum / ratingCount);
    }
    var totalRating = decimal.Parse(rating.ToString());
}

<br />
<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <div>
        <span class="starFadeN" id="sRate1"></span><span class="starFadeN" id="sRate2"></span><span class="starFadeN" id="sRate3"></span><span class="starFadeN" id="sRate4"></span><span class="starFadeN" id="sRate5"></span>
    </div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ProjectTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectDesigner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectDesigner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Technique)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Technique)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Magazine.MagazineTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Magazine.MagazineTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PageNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnlineLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnlineLink)
        </dd>
    </dl>
</div>

@foreach (var c in comments)
{
    <hr />
    <div class="row">
        <div class="col-md-3">
            <i>@c.Timestamp</i>
            <br />
            @for (var i = 1; i <= c.Rating; i++)
            {
                <span class="starGlowN"></span>
            }
            @for (var i = (c.Rating + 1); i <= 5; i++)
            {
                <span class="starFadeN"></span>
            }
        </div>
        <div class="col-md-9">
            @Html.Raw(c.Comment.Replace("\n", "<br />"))


        </div>
    </div>
}
<hr />
@Html.Partial("_CommentBox")

<script>
    function SCRate() {
        for (var i = 1; i <= @totalRating; i++) {
            $("#sRate" + i).attr('class', 'starGlowN');
        }
    }
    $(function(){
        SCRate();
    });
</script>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
