@model ProjectFinderApp.Models.PremiumContent

@{
    ViewBag.Title = "Details";
}
<br />
<h2>Premium Content Details</h2>

        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.ProjectTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProjectTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Technique)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Technique)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Supplies)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Supplies)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ContactInfo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContactInfo)
            </dd>
            
            <dd>
                @Html.ActionLink("Download PDF", "Download", new { id = Model.ContentID })

            </dd>

        </dl>

           
            

        

    
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
