@model IEnumerable<ProjectFinderApp.Models.PremiumContent>

@{
                /**/

                ViewBag.Title = "Index";
}
<br />
<h2>Premium Content</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FilePath1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Technique)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilePath2)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            <img src=@item.FilePath1 alt="Image" width="300" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Technique)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilePath2)
        </td>


        <td>
            @Html.ActionLink("Details", "Detail", new { id = item.ContentID })

        </td>
    </tr>
    }

</table>

@*<h2>Drag & Drop upload</h2>
        <div id="dropArea">
            Drop your files here.
        </div>
    <h4>Uploaded files : </h4>
    <ul class="list-group" id="uploadList">

    </ul>

    <style>
        #dropArea{
            background:#b5b5b5;
            border:black dashed 1px;
            height:100px;
            text-align:center;
            color:#fff;
        }
        .active-drop{
            background:#77bafa !important;
            border:solid 2px blue !important;
            opacity:.5;
            color:black !important;
        }
    </style>

    @section Scripts{
        <script src="~/Scripts/jquery.filedrop.js"></script>
        <script type="text/javascript">
            $(function() {
                $('#dropArea').filedrop({
                    url:'@Url.Action("UploadFiles")',
                    allowedfiletypes:['image/jpeg', 'file/pdf'],
                    allowedfileextensions:['.jpg', '.jpeg', '.pdf'],
                    paramname: 'files',
                    maxfiles: 3,
                    maxfilesize: 2, //in MB
                    dragOver:function(){
                        $('#dropArea').addClass('active-drop');
                    },
                    dragLeave:function(){
                        $('#dropArea').removeClass('active-drop');
                    },
                    drop:function(){
                        $('#dropArea').removeClass('active-drop');
                    },
                    afterAll:function (e) {
                        $('#dropArea').html('file(s) uploaded successfully');
                    },
                    uploadFinished:function (i, file, response, time) {
                        $('#uploadList').append('<li class="list-group-item">'+file.name+'</li>')
                    }
                })
            })
        </script>
        }*@

