@model ProjectFinderApp.Models.RegisteredUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RegisteredUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUserID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
