@model ProjectFinderApp.Models.RegisteredUser

<br />
@{
    ViewBag.Title = "Details";
}
<br />
<h2>Account Details</h2>

<div>
    <h4>Free Trial Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessActive)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Manage Account", "Edit", new { id = Model.UserID }) 
   
</p>
