@model IEnumerable<ProjectFinderApp.Models.RegisteredUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessActive)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessEndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessActive)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
        </td>
    </tr>
}

</table>
